<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primera Pagina</title>
</head>
<body bgcolor="#875BFC">
    <center>
        <h3> Nombre: Marcos Arturo Gomez Lopez</h3>
        <h3> Semestre: 6to</h3>
        <h3> Grupo: N</h3>
        <h3> Matricula: A210300</h3>
        
        <img src="../img/Marco.jpg">

    </center>
</body>
</html>